.span_div {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 50px;
    height: 40px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    /* position: relative; */
    margin-top: -0.5rem;
}
.hourse-position{
    color: #fff;
}
.Image_style2{
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    /* display: block; */
    width: 0px;
    height:0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
.Image_style {
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    /* min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%; */
}
.cover-inner{
    background-image: url("https://cdn.pegaxy.io/data/pega/1652790085371");
}
.hourse-info{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(47, 119, 171));
}

.view-racetrack .racetrack-col .line-row.start:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    top: 0;
    width: 10px;
    background-image: url("https://cdn.pegaxy.io/statics/play/v9/images/race/start.png");
    background-repeat: repeat-y;
    background-size: cover;
    background-position: 50%;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: yellow;
  }
  #animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: red;
  }
  .race-container .race-stats .race-horse .item-race .hourse-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /* background-image: linear-gradient(100deg, transparent,transparent); */
}












@keyframes dayNight {
0%{background-position:25% 0%}
50%{background-position:76% 100%}
100%{background-position:25% 0%}
}
@keyframes driving {
    0% {
        /* left: 0%; */
        right: 0%;
    }
    10% {
        left: 0%;
    }
    20% {
        transform: scale(0.5) rotateZ(0deg);
        left: 0%;

    }
    25% {
        transform: scale(0.5) rotateZ(0deg);
    }
    40% {
        transform: scale(0.5) rotateZ(5deg);
    }
    50% {
        transform: scale(0.5) rotateZ(0deg);
    }
    75% {
        transform: scale(0.5) rotateZ(0deg);
    }
    100% {
        left: 100%;
        right: 5%;
       
        transform: scale(0.5) rotateZ(0deg);
    }
}
@keyframes road-moving {
    100% {
        transform: translate(-4500px);
    }
}
@keyframes wheelsRotation {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes moon {
50% {
transform: translateY(-20px);
}
100% {
transform: translate(80px, -140px);
}
}
@keyframes sun-moon {
from { transform:rotate(0deg); }
to { transform:rotate(360deg); }
}
/*   CAR CONTAINER   */
.racehorse .in-race-horse img {
    height: 101px;
    width: 11rem;
    margin-left: -3rem;
    margin-top: -3rem;
}
.racehorse {
    position: absolute;
   
    width: 0px;
    height: 0px;

    /* animation: driving 20s  linear; */

    /* animation: driving 20s  linear; */

    animation-iteration-count: 1;
    animation-delay:0s;
    margin-top: -1rem !important;

    transform: scale(0.5);
}

/*   WHEELS   */

.wheel1,
.wheel2 {
    width: 120px;
    height: 120px;
    background-color: grey;
    border-radius: 50%;
    border: 20px solid black;
    position: absolute;
    bottom: 0;
    animation: wheelsRotation 1s infinite linear;
}
.wheel1 {
    left: 5%;
}
.wheel1-top,
.wheel2-top {
    bottom: 48px;
    position: absolute;
    width: 106px;
    height: 80px;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 0px 13px 3px 0px rgba(240, 240, 240, 0.53);
    transform: rotateX(180deg);
}
.wheel1-top {
    left: 7%;
}
.wheel2-top {
    right: 7%;
}
.wheel2 {
    right: 5%;
}
.wheel-dot1,
.wheel-dot2 {
    width: 10px;
    height: 25px;
    background-color: black;
    position: absolute;
}
.wheel-dot3,
.wheel-dot4 {
    width: 25px;
    height: 10px;
    background-color: black;
    position: absolute;
}
.wheel-dot1 {
    top: 10%;
    left: 45%;
}
.wheel-dot2 {
    bottom: 10%;
    left: 45%;
}
.wheel-dot3 {
    top: 45%;
    right: 10%;
}
.wheel-dot4 {
    top: 45%;
    left: 10%;
}
.door {
    width: 110px;
    height: 100px;
    border: 3px solid #B57A84;
    position: absolute;
    left: 36%;
    top: 16px;
    border-radius: 10% 40% 10% 10%;
}
.door-knob {
    width: 30px;
    height: 14px;
    background-color: #E8E6E6;
    border-radius: 30%;
    position: absolute;
    left: 20%;
    top: 5%;
    border: 1px solid lightcoral;
}
.car-top1 {
    border-radius: 25% 40% 0 0;
    background-color: #6A1621;
    max-width: 100%;
    width: 250px;
    height: 130px;
    position: absolute;
    top: 0;
    left: 4%;
}
.window1,
.window2 {
    background-color: #E2F0F6;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 60%;
    margin: 17px;
    border: 9px solid #BF6D7B;
}
.window1 {
    left: 0;
    border-top-left-radius: 30%;
}
.window2 {
    right: 0;
    border-top-right-radius: 50%;
}
.car-top2 {
    border-radius: 100px 200px 0 0;
    background-color: #25659C;
    /* border: 10px solid #72252F; */
    background-color: #9C2535;
    max-width: 100%;
    width: 430px;
    height: 140px;
    position: absolute;
    bottom: 20%;
}
/* .road {
    width: 250%;
    height: 200px;
    background-color: #585858;
    border-top: 10px solid #756D6D;
    border-bottom: 20px solid #756D6D;
    position: absolute;
    bottom: 0%;
    margin-left: -10px;
    padding: 0;
} */
/* .road::before {
    content: " ";
    position: absolute;
    z-index: 0;
    top: -17px;
    left: 0px;
    right: 0px;
    border: 5px solid black;
} */
.racetrack-inner {
    height: 15px;
    width: 250%;
    position: absolute;
    left: -10%;
    top: 30px;
    /* border-top: 40px dashed white; */
    margin-top: 25px;
    animation: road-moving 90s  linear;
    animation-iteration-count: 1;
    transition: all 5s linear;
}
.skyline {
    width: 100%;
    position: absolute;
    bottom: 205px;
    padding: 0;
    left: 110%;
    animation: road-moving 10s infinite linear;
    transition: all 8s linear;
}
.building1 {
    width: 220px;
    height: 450px;
    background-color: #211919;
    position: relative;
}
.building1-shadow {
    border-top: 15px solid transparent;
    border-right: 60px solid rgb(44, 37, 37);
    border-bottom: 15px solid #000;
    border-left: 15px solid transparent;
    height: 450px;
    width: 200px;
    position: absolute;
    left: -199px;
}
.building-left-half,
.building-right-half {
    height: 300px;
    width: 50px;
    position: absolute;
    top: 10px;
    border-left: 16px dashed #A9D2C7;
    border-right: 16px dashed rgba(255, 255, 0, 0.19);
    margin-top: 25px;
}
.building-left-half {
    left: 10px;
    padding: 25px;
}
.building-right-half {
    right: 10px;
    padding: 20px;
}
.moon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgb(207, 207, 212);
    margin: auto;
    box-shadow: 0 0 60px gold, 0 0 100px rgb(185, 160, 24), inset 0 5px 12px 26px #F5F5F5, inset -2px 8px 15px 36px #E6E6DB;
    transition: 1s;
    transition: 1s;
    right:370px;
    top: 30px;
    position: absolute;
    animation: sun-moon 40s  2s linear infinite;
    transform-origin: 50% 500px;
}

/*Headlights*/
.car-top1:after {
width: 13px;
height: 37px;
background-color: #BACCDA;
position: absolute;
bottom: -63px;
right: -168px;
z-index: 10;
content: " ";
border-radius: 10px;
border: 2px solid black;
border-left-style: none;
transform: rotate(-15deg);
}

.car-top2:after {
position: absolute;
bottom: 7px;
right: -340px;
content: " ";
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 80px solid transparent;
border-right: 500px solid rgba(191,188,87,0.7);
z-index: -1;
-webkit-mask-box-image: -webkit-linear-gradient(left, black, transparent);
-webkit-mask-box-image: -o-linear-gradient(left, black, transparent);
-webkit-mask-box-image: linear-gradient(to right, black, transparent);
transform: rotate(-9deg);
}

.racehorse .in-race-horse img {
    height: 30px !important;
}
.racehorse{
 margin-top: -8.5rem !important;
}
.Horse_img{
    /* position: absolute; */
    /* top: -50px; */
    width: 8.5rem !important;
    
}
.racehorse {
    margin-top: -1px;
    width: 0% !important;
    height: 100%;
    /* display: flex;
    flex-direction: column !important;
    align-items: flex-start; */
}
.Span_clas_style{
    display: flex;
    flex-direction: column !important;
}
.in-race-horse{
   

}
#race-1{
    margin-top: 0.5rem;
}
.bx-view .bx-left .bx-content .inner-content {
    position: relative;
    height: 100%;
    min-height: calc(100vh - 207px) !important;
    padding: 15px 20px 15px 30px;
}
.Horse_img_2{
    width: 9.1rem !important;
    /* margin-top: 1rem; */

}

.Second_Winner{
    background-image: url('https://cdn.pegaxy.io/statics/play/public/v5/images/box/popup-2nd.png');
}
.first_winner{
    background-image: url('https://cdn.pegaxy.io/statics/play/public/v5/images/box/popup-1st.png');
}
.Third_winner{
    background-image: url('https://cdn.pegaxy.io/statics/play/public/v5/images/box/popup-3rd.png');

}

.Line_start{
    position: absolute !important;
    top: 3%;
    left: 50% !important;
    margin-left: 5rem !important;
}
.racehorse {
    margin-top: -8rem !important;
}
#race-1 {
    margin-top: -1rem !important;
}

.Line_last{
    position: absolute !important;
    top: 3%;
    /* right: 0% !important; */
    margin-left: 70rem !important;
}
#Start_race{
    margin-top: -1rem !important;
}

/* .color_first{
    filter: invert(100%) !important; 
}
.color_second{
    filter: saturate(900%);
}
.color_third{
    filter: grayscale(100%);
} */