

.PlayNow_Navbar{
    background-image: url('https://cdn.pegaxy.io/statics/play/v9/images/background.jpg');
    /* height: 10vh !important; */
    /* background-position: center;
    background-size: cover; */
    /* z-index:1 !important; */
    padding: 0px !important;
}

.link-racing{
    margin-left: 2rem !important;
}
.link-marketplace{
    margin-left: 2rem !important;
   

}
.link-renting{
    margin-left: 2rem !important;

}

/* .navbar-inner{
    border: 1px solid red;
} */



/* 
@media screen and (max-width: 991px){
.navbar .navbar-inner {
    width: 100%;
}
.navbar-nav li img{
width: 100%;
margin-left: -200%;
margin-top: -4.5rem;
padding: 0px !important;
border: 1px solid red;
}
.link-racing{
    margin-left: 1rem !important;
}
.link-breeding{
    margin-left: 1.5rem  !important;
}

.navbar-nav li .nav-item{
    padding: 0 !important;
}
.link-connect{
    margin-left: -1rem  !important;
    margin-top: 0.3rem !important;

}
.navbar-nav {
    margin-left: 2rem !important;
}
} */

.navbarnav{
    /* z-index: 1 !important; */
     background-color: transparent;
     color: white !important;
     margin-top: -1rem;
     height: auto !important;
}

.nav-item a img{
    width: 100% !important;
}

.navbar_link_img{
    /* width: 40% !important; */
    width: 8rem !important;
    margin-top: -1rem !important;
}

.nav-anim{
    /* border: 1px solid red; */
    margin-left: 1rem !important;
    width: 50% !important;
}

@media (min-width:600px) and (max-width:800px) {
    .navbar_link_img{
        /* width: 40% !important; */
        width: 5rem !important;
        margin-top: -1rem !important;
    }
    .nav-anim{
        /* border: 1px solid red; */
        margin-left: -0.8rem !important;
        width: 50% !important;
        margin-top: -1.5rem !important;
    }
}

@media screen and (max-width:600px) {
    .nav_link_text{
        display: flex !important;
        /* flex-direction: column !important; */
        /* background-color: blueviolet; */
        /* padding: 15px; */
        padding-top: 10px;
        z-index: 1 !important;


    }

    /* .navbar_link_img{
        width: 100rem!important;
    } */
    .navbarnav{
        z-index: 100 !important;
         background-color: transparent;
         color: white !important;
         /* margin-top: -1rem; */
         height: auto !important;
    }
  
    .nav-anim{
        display: none;
    }
    .PlayNow_Navbar{
      
        height: 10vh !important;
      
    }
    .navbar_link_img{
        /* width: 40% !important; */
        width: 3.5rem !important;
        margin-top: -2.7rem !important;
    }    .racing_img{
        margin-top: -3rem !important;
    }
}

@media (min-width: 1600px) and (max-width:4500px){
.navbar .navbar-inner .navbar-nav .nav-item .nav-anim div {
    left: -106px;
    top: 0;
    width: 184px;
    height: 128px;
}

}

.active{
    color: #fff !important;
}



.navbar-mp {
    width: 220px;
    height: 82px;
    background-image: url("https://cdn.pegaxy.io/statics/play/public/v4/images/anim-mp/2.png") !important;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
 .navbar-mp {
    position: absolute;
    left: 2px;
    top: 16px;
    flex-direction: row;
}
 .navbar-mp .anim-mp span {
    text-transform: uppercase;
    text-shadow: 0 0 5px #ff7ceb, 0 0 10px #ff7ceb;
    position: relative;
    text-align: center;
    top: 6px;
    left: 27px;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width:600px) {

    

.navbar-mp {
    width: 220px;
    height: 82px;
    background-image: url("https://cdn.pegaxy.io/statics/play/public/v4/images/anim-mp/2.png") !important;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 2rem;
}
 .navbar-mp {
    position: absolute;
    left: 2px;
    top: 16px;
    flex-direction: row;
}
 .navbar-mp .anim-mp span {
    text-transform: uppercase;
    text-shadow: 0 0 5px #ff7ceb, 0 0 10px #ff7ceb;
    position: relative;
    text-align: center;
    top: 6px;
    left: 27px;
    font-size: 14px;
    font-weight: 700;
}
.bx-view .bx-full {
    flex: 1 1 100%;
    width: 100%;
    margin-top: 4rem;
}
}


@media (min-width:601px) and (max-width:800px) {

    

    .navbar-mp {
        width: 220px;
        height: 82px;
        background-image: url("https://cdn.pegaxy.io/statics/play/public/v4/images/anim-mp/2.png") !important;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-top: 3rem;
    }
     .navbar-mp {
        position: absolute;
        left: 2px;
        top: 16px;
        flex-direction: row;
    }
     .navbar-mp .anim-mp span {
        text-transform: uppercase;
        text-shadow: 0 0 5px #ff7ceb, 0 0 10px #ff7ceb;
        position: relative;
        text-align: center;
        top: 6px;
        left: 27px;
        font-size: 14px;
        font-weight: 700;
    }
    .bx-view .bx-full {
        flex: 1 1 100%;
        width: 100%;
        /* margin-top: 4rem; */
    }
    }

    
@media (min-width:801px) and (max-width:1200px) {

    

    .navbar-mp {
        width: 180px;
        height: 82px;
        background-image: url("https://cdn.pegaxy.io/statics/play/public/v4/images/anim-mp/2.png") !important;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-top: 1rem;
        margin-left: -2rem;
    }
     .navbar-mp {
        position: absolute;
        left: 2px;
        top: 16px;
        flex-direction: row;
    }
     .navbar-mp .anim-mp span {
        text-transform: uppercase;
        text-shadow: 0 0 5px #ff7ceb, 0 0 10px #ff7ceb;
        position: relative;
        text-align: center;
        top: 6px;
        left: 27px;
        font-size: 14px;
        font-weight: 700;
    }
    .bx-view .bx-full {
        flex: 1 1 100%;
        width: 100%;
        /* margin-top: 4rem; */
    }
    }


    .navbar .navbar-inner {
        background-image: url('../../../Assest/WIRE\ RACE.png') !important;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
        width: 940px;
        margin: 0 auto;
        min-height: 100vh;
        z-index: 0 !important;
    }
    .main_div_app {
        background-image: url(https://cdn.pegaxy.io/statics/play/v9/images/background.jpg);
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        min-height: auto !important;
        z-index: 10 !important;
    }