.App {
  
  /* text-align: center; */
}
.bg_MP{
  background-image: url('./Assest/background_MP.jpg');
  height: 100vh;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main_div_app{
  background-image: url(https://cdn.pegaxy.io/statics/play/v9/images/background.jpg);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
	min-height: auto !important;
  z-index: -10 !important;
}

.viewBack{
  background-color: transparent !important;
  position: absolute;
  top: 20%;
  
}

.arrow_here{
  position: absolute;
 top: 10%;
left: 5%;
  cursor: pointer;
  z-index: 100 !important;
}


.icon_here{
  font-size: 2rem;

  color: #fff;
}

.text_de{
  text-decoration: none;
}